<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GitBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <GitBackup.Properties.Settings>
            <setting name="Command" serializeAs="String">
                <value>diff --diff-filter=ACMRT --name-only HEAD</value>
            </setting>
            <setting name="GitBin" serializeAs="String">
                <value>C:\Program Files\Git\bin\git.exe</value>
            </setting>
            <setting name="NewLine" serializeAs="String">
                <value>\n</value>
            </setting>
        </GitBackup.Properties.Settings>
    </applicationSettings>
</configuration>